.diceGame--container {
    height: auto;
    width: 75vw;
    max-width: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 24px;
    background-color: #fff;
    padding: 50px 20px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .diceGame--container {
        padding-right: 30px;
        padding-left: 30px;
    }
}

.diceGame--result {
    height: auto;
    width: 75vw;
    max-width: 650px;
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 24px;
    background-color: #fff;
    padding: 20px 20px;
    text-align: center;
}

.diceGame--result.active {
    display: flex;   
}

.diceGame--result p {
    margin-bottom: 0;
}

.playersContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 20px;
    height: auto;
    gap: 10px;
}

@media (min-width: 768px) {
    .playersContainer {
        gap: 50px;
    }
}

.player {
    display: flex;
    flex: 1 1 auto;
    padding: 10px;
    flex-direction: column;
    background-color: transparent;
    font-weight: 200;
    scale: 0.9;
    border: 3px solid rgb(193, 190, 190);
    border-radius: 10px;
}

.player h2 {
    font-weight: 200;
}

.player.active h2 {
    font-weight: 600;
}

.player.active {
    font-weight: 400;
}

.player p {
    margin: 0;
}

.imageContainer {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

p {
    font-size: 40px;
    margin-bottom: 30px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 18;
}

.btn-reset{
    background-color:#ff2c6c;
}

.player.active--animation {
    animation: beat 3s linear infinite alternate;
}

.rotateClockwise--annimation {
    animation: rotateClockwise 3s linear infinite;
}

.rotateAntiClockwise--animation {
    animation: rotateAntiClockwise 3s linear infinite;
}

.appear--animation {
    animation: appear 3s linear;
}

@keyframes beat {
    0% {
        scale: 0.9
    }

    100% {
        scale: 1;
    }
}

@keyframes rotateClockwise {
    0% {
        scale: 0.8;
        transform: rotate(0deg);
    }

    100% {
        scale: 1;
        transform: rotate(360deg);
    }
}

@keyframes rotateAntiClockwise {
    0% {
        scale: 0.8;
        transform: rotate(0deg);
    }

    100% {
        scale: 1;
        transform: rotate(-360deg);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
